# -------------------------------------------------------------------------
# Custom Machine Learning Data & Submissions
# -------------------------------------------------------------------------
# Ignore competition / raw datasets
train.csv
test.csv

# Ignore final target prediction files
submission.csv
outputs/
